<!--<form method="post" enctype="multipart/form-data">-->
<!--  {% csrf_token %}-->
<!--  <input type="file" name="myfile">-->
<!--  <button type="submit">Отправить</button>-->
<!--</form>-->
<!DOCTYPE html>
<html>
<head>
  <title>Моя страница</title>
  <link rel="stylesheet" href="../static/css/review.css">
</head>
<body>
  <h1> Загрузите файл csv или excel и отзывами  </h1>
  <h2> Обработка файла занимает около минуты  </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Отправить</button>
  </form>
</body>
</html>
