<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/upload_success.css">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <h1> Отчет о проанализированных отзывах  </h1>
<ul>
  {% for item in items %}
    {% if forloop.first %}
      <h2>Самые часто встречающиеся слова в отзывах:</h2>
    {% for word in item %}
    <li>{{ loop.index }}. {{ word }}</li>
  {% endfor %}

    {% endif %}

    {% if forloop.last %}
      <h2>Вот краткое описание всех отзывов, составленное моделью:</h2>
     <li>{{ item }}</li>
    {% endif %}
  {% endfor %}
</ul>

    <img src="../static/images/cloud_simple.png" width="750" height="600">
    <img src="./../static/images/my_plot.png" width="750" height="600">

<a href="../static/files/report.pdf" download><button>Скачать PDF</button></a>

</body>
</html>
