.form-container {
  margin: 50px auto;
  width: 50%;
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-container input[type="file"] {
  display: block;
  margin: 0 auto 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #e50914;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  outline: none;
  transition: border-bottom-color 0.2s ease-in-out;
}

.form-container input[type="file"]:focus {
  border-bottom-color: #0071eb;
}

.form-container input[type="submit"] {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-container input[type="submit"]:hover {
  background-color: #ff4d4d;
}
